# Packages
node_modules
**/node_modules

# Build artifacts
dist/
**/dist
typings/
tsconfig.tsbuildinfo

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Tests
coverage/

# Miscellaneous
.tmp/
auth.json
